**Задание 2**

Написать программу, которая вычисляет площадь фигуры, параметры которой подаются на вход. Фигуры, которые подаются на вход: треугольник, прямоугольник, круг. Результатом работы является словарь, где ключ – это название фигуры, а значение – это площадь.

In [ ]:
import math

print('Введите цифры через пробел')
n = input().split()
n = [int(i) for i in n]
for i in n:
  i = int(i)
if len(n) == 1:
  a = 'Круг'
  s = 3.14*n[0]**2
if len(n) == 2:
  a = 'Прямоугольник'
  s = n[0]*n[1]
if len(n) == 3:
  a = 'Треугольник'
  p = (n[0]+n[1]+n[2])/2
  s = math.sqrt(p)*(p-n[0])*(p-n[1])*(p-n[2])

d = {'Фигура': a, 'Площадь': s}
print(d)

Введите цифры через пробел
1
1
{'Фигура': 'Круг', 'Площадь': 3.14}

**Задание 3**

Написать программу, которая на вход получает два числа и операцию, которую к ним нужно применить. Должны быть реализованы следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в степень.

In [ ]:
print("Числа:")
a = input().split()
print("Знак:")
z = input()
if len(a) == 2:
  b, a = int(a[1]), int(a[0])
else:
  a = int(a[0])
if z == '+':
  res = a + b
if z == '-':
  res = a - b
if z == '/':
  res = a / b
if z == '//':
  res = a // b
if z == '**':
  res = a ** b
if z == 'abs':
  res = abs(a)
print(res)

Числа:
1 3
Знак:

1

**Задание 4**

Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и после этого выводит сумму квадратов всех считанных чисел.

In [ ]:
sum = 0
sum_k = 0
while(True):
  c = float(input())
  sum += c
  sum_k += c**2
  if sum == 0:
      break
print(sum)

1
2
3
-6
0.0

**Задание 5**

Напишите программу, которая выводит последовательность чисел, длинною N, где каждое число повторяется столько раз, чему оно равно. На вход программе передаётся неотрицательное целое число N. Например, если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка через пробел – print(*list).

In [ ]:
N = int(input())
arr = list()
for i in range (1, N):
  c = i
  for j in range(i):
    if len(arr) == N:
      break
    arr.append(i)
print(*arr)

7
1 2 2 3 3 3 4

**Задание 6**

Даны два списка:
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
Создать словарь, в котором ключи – это содержимое списка В, а значения для ключей словаря – это сумма всех элементов списка А в соответствии с буквой, содержащийся на той же позиции в списке В. Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.

In [ ]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
d = {}
b = set(B)
for i in B:
  sum = 0
  for j in range(len(A)):
    if B[j] == i:
      sum += A[j]
  d[i] = sum
print(d)

{'a': 17, 'b': 11, 'c': 17}

Задание 7-12

7. Скачать и загрузить данные о стоимости домов в калифорнии, используя библиотеку sklearn.
8. Использовать метод info().
9. Узнать, есть ли пропущенные значения, используя isna().sum().
10. Вывести записи, где средний возраст домов в районе более 50 лет и население более 2500 человек, используя метод loc().
11. Узнать максимальное и минимальное значения медианной стоимости дома.
12. Используя метод apply(), вывести на экран название признака и его среднее значение.

In [ ]:
from sklearn.datasets import fetch_california_housing
df = fetch_california_housing(as_frame = True)
data = df.data
print(data.info())

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: MedHouseVal, Length: 20640, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB
None

In [ ]:
print(data.isna().sum())

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [ ]:
print(data.loc[(data.HouseAge > 50) & (data.Population > 2500)])

       MedInc  HouseAge  AveRooms  AveBedrms  Population    AveOccup  \
460    1.4012      52.0  3.105714   1.060000      3337.0    9.534286
4131   3.5349      52.0  4.646119   1.047945      2589.0    5.910959
4440   2.6806      52.0  4.806283   1.057592      3062.0    4.007853
5986   1.8750      52.0  4.500000   1.206349      2688.0   21.333333
7369   3.1901      52.0  4.730942   1.017937      3731.0    4.182735
8227   2.3305      52.0  3.488860   1.170380      3018.0    3.955439
13034  6.1359      52.0  8.275862   1.517241      6675.0  230.172414
15634  1.8295      52.0  2.628169   1.053521      2957.0    4.164789
15652  0.9000      52.0  2.237474   1.053535      3260.0    2.237474
15657  2.5166      52.0  2.839075   1.184049      3436.0    1.621520
15659  1.7240      52.0  2.278566   1.082348      4518.0    1.780142
15795  2.5755      52.0  3.402576   1.058776      2619.0    2.108696
15868  2.8135      52.0  4.584329   1.041169      2987.0    3.966799

       Latitude  Longitude
460       37.87    -122.26
4131      34.13    -118.20
4440      34.08    -118.21
5986      34.10    -117.71
7369      33.97    -118.21
8227      33.78    -118.20
13034     38.69    -121.15
15634     37.80    -122.41
15652     37.80    -122.41
15657     37.79    -122.41
15659     37.79    -122.41
15795     37.77    -122.42
15868     37.76    -122.41

In [ ]:
print('max:', df.target.max(), 'min:', df.target.min())

max: 5.00001 min: 0.14999

In [ ]:
def func_mean(zn):
  print(zn.name, zn.mean())

print(data.apply(func_mean, axis = 0))

MedInc 3.8706710029069766
HouseAge 28.639486434108527
AveRooms 5.428999742190376
AveBedrms 1.096675149606208
Population 1425.4767441860465
AveOccup 3.0706551594363742
Latitude 35.63186143410853
Longitude -119.56970445736432
MedInc        None
HouseAge      None
AveRooms      None
AveBedrms     None
Population    None
AveOccup      None
Latitude      None
Longitude     None
dtype: object